header {
    margin-top: 40px;
}

body {
    flex-direction: column;
}

#login-form {
    background: var(--light-grey);

}

    #login-form .input {
        display: flex;
        flex-direction: column;
    }

        #login-form label {
            color: var(--light-bckgnd);
        }

        #login-fom input {
            border: none;
        }