@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

/*----------Généralités----------*/
:root {
    --light-bckgnd: #FFFFFF;
    --grey-bckgnd: #F0F0F0;
    --dark-bckgnd: #444444;
    --orange: #ED786A;
    --hover-orange: #FD887A;
    --red: #CC0000;
    --lighter-grey: #e1e1e1;
    --light-grey: #888888;
    --mid-grey: #777777;
    --grey: #666666;
    --dark-grey: #3C3C3C;
    --font-title: 'Arvo', serif;
    --font-text: 'Source Sans Pro', sans-serif;
}

body {
    background: var(--light-bckgnd);
    color: var(--mid-grey);
    display: flex; /* pour gestion menu */
    font-family: var(--font-text), 'sans-serif';
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
    transition: transform 300ms;
}

a {
    text-decoration: none;
}

    a:hover, a:active {
        color: var(--hover-orange);
    }

/* les boutons s'adapte à la taille de leurs conteneurs */
button {
    background: var(--orange);
    border: var(--red);
    border-radius: 4px;
    color: var(--light-bckgnd);
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 30px;
    padding: 10px 30px;
    width: 100%;
}

    button:active, button:hover{
        background: var(--hover-orange);
    }

    button > a:hover, button > a:active {
        color: var(--light-bckgnd);
    }


/*----------titres----------*/
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 {
    font-family: var(--font-title);
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 10px;
    margin-bottom: 30px;
    color: var(--orange);
}

h2 {
    font-size: 23px;
    letter-spacing: 2px;
    margin-bottom: 25px;
    margin-top: 25px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
}


/*----------Framework----------*/
/*--------Layout--------*/
.container {
    /* marges gauche et droite sur toutes la page
       sauf menu nav, btn burger et img .citation */
    padding-left: 5%;
    padding-right: 5%;

}

.wrapper {
    /* permet de fixer la taille minimum,
       et empecher la réduction lors de la
       sortie du menu */
    flex-shrink: 0;
    flex-basis: 100%;
    /* annule le margin-b global des div */
    margin-bottom: 0;
    overflow-x: hidden;
}


/*--------Page--------*/
/*------Menu------*/
/*----Btn burger----*/
#burger-btn {
    background: var(--grey-bckgnd);
    border-radius: 4px;
    box-shadow: var(--light-grey) 1px 1px 3px 0px;
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 12px 22px;
    transition: background 500ms;
    width: 60px;
}

    #burger-btn span{
        background: var(--light-grey);
        flex-basis: 2px;
        opacity: 1;
        transition: opacity 300ms, background 500ms, transform 600ms;
    }

#burger-cmd {
    /*masquer la checkbox*/
    display: none;
}

#burger-cmd:checked + #burger-btn {
    /*Lorsque burger est coché le bouton change d'aspect'*/
    background: var(--mid-grey);
}

    #burger-cmd:checked + #burger-btn span{
        background: var(--grey-bckgnd);
    }

    /*rotation/deplacement des span 1 et 3 et masquage span 2*/
    #burger-cmd:checked + #burger-btn span:nth-child(1){
        transform:  translateX(0px) translateY(7px) rotate(-45deg);
    }

    #burger-cmd:checked + #burger-btn span:nth-child(2){
        opacity: 0;
    }

    #burger-cmd:checked + #burger-btn span:nth-child(3){
        transform:  translateX(0px) translateY(-7px) rotate(45deg);
    }


/*----Menu nav----*/
.open {
    /* la classe s'ajoute au body via JS */
    overflow: hidden;
    transform: translateX(234px);
}

#main-menu {
    /* <nav> taille 0 et contenu masqué, affiché via JS */
    background: var(--dark-bckgnd);
    color: var(--light-bckgnd);
    height: 100vh;
    left: -234px;
    overflow-x: hidden;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    top: 0;
}


    #main-menu li > a {
    border-bottom: 1px solid var(--dark-grey); /* trait de séparation sous chaque case */
    display: inline-block;
    /* Le <a> occupe tout l'espace du parent <li> */
    padding: 10px 20px;
    width: 100%;
    }

        #main-menu li:hover > a {
            /* change de couleur lors du hover sur un <li> */
            color: var(--hover-orange);
        }

    #main-menu li ul a {
        /* Décalage de 2eme niveau */
        padding-left: 40px;
    }

    #main-menu li ul li ul a {
        /* Décalage de 3eme niveau */
        padding-left: 60px;
    }

.menu-icon {
    /* cache les icones du menu en mobile,
       !important pour surpasser le css fontawesome */
    display: none !important;
}


/*------Header------*/
header,
.title {
    margin-bottom: 60px;
}


/*------Titre + phrase------*/
.title {
    text-align: center;
}

#phrase {
    font-size: 22px;
}


/*------Séparateurs------*/
.separator-double {
    display: flex;
    flex-direction: column;
    height: 15px;
    justify-content: space-between;
    margin-bottom: 30px;
}

    .separator-double span{
        background: var(--grey-bckgnd);
        height: 3px;
    }

.separator {
    display: flex;
    height: 13px;
    flex-direction: column;
    margin-bottom: 5px;
    padding: 5px 0;
}

    .separator span{
        background: var(--grey-bckgnd);
        flex-basis: 3px;
    }

/*------Main------*/
main p {
    /* display permet de centrer le texte si moins d'une
       ligne puisque les autres p sont en justify */
    display: inline-block;
    line-height: 1.4;
    text-align: justify;
}

div, section, aside {
    margin-bottom: 30px;
}

/* Contour gris clair des photos */
.latest-news img,
.flex-articles img {
    background: var(--grey-bckgnd);
    margin-bottom: 30px;
    padding: 7px;
}

/* Liens soulignés */
.a-underline {
    text-decoration: underline var(--lighter-grey);
}


/*----Citations----*/
.citation {
    position: relative;
    text-align: center;
}

    .citation .center {
        color: var(--light-bckgnd);
        font-size: 20px;
        left: 50%; /* positionnement au centre horizontal */
        letter-spacing: 4px;
        margin-bottom: 0;
        overflow: hidden;
        position: absolute;
        top: 50%; /* positionnement au centre vertical */
        transform: translate(-50%, -50%); /* origine de la div au centre */
        width: 100%;
        z-index: 10;
    }

    .citation img {
        max-width: 100%;
        height: auto;
    }


/*----Articles----*/
.articles img {
    max-width: 100%;
}

.articles p,
.posts p,
.random-news p{
    margin-bottom: 30px;
}


/*----Posts----*/
.posts .date {
    background: var(--light-grey);
    border-radius: 4px;
    color: var(--light-bckgnd);
    display: inline-block;
    padding: 3px 10px;
}


/*----Random news----*/
.random-news p > img {
    float: left;
    margin-right: 15px;
}


/*------Footer------*/
footer {
    background: var(--grey-bckgnd);
    box-shadow: inset 0 3px 3px -3px var(--light-grey);
    padding-top: 60px;
}


/*----Footer top----*/
.footer-top {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
}

.contact-us {
    font-weight: 600;
}


/*----Footer contacts----*/
.footer-contacts {
    text-align: left;
}


/*--Form contact--*/
#contact {
    display: flex;
    flex-direction: column;
}

    #contact input {
        display: inline-block; /* permet le retour à la ligne entre les <input> */
        width: 100%;
    }

    #contact input, #contact textarea {
        border: none;
        border-radius: 4px;
        box-shadow: inset 3px 3px 3px -3px var(--light-grey);
        margin-bottom: 15px;
        padding: 15px;
    }

        /* Meme style de police que le reste du document */
        #contact input::placeholder, #contact textarea::placeholder {
            font-family: var(--font-text), 'sans-serif';
            font-size: 16px;
            font-weight: 300;
        }

    #contact textarea {
        resize: none; /* Empeche le redimensionnement (en plus les traits dans le coin sont moches) */
        height: 250px;
    }


/*--Messages d'erreurs--*/
.error {
    color: var(--red);
    display: inherit;
    padding-left: 10px;
    padding-top: 5px;
    position: relative;
    text-align: left;
    top: -15px;
}

.div-errors {
    margin-bottom: 0;
}


/*--Liens de contact--*/
.contact-div {
    margin-bottom: 60px;
}

 .contact-div > p {
     margin-bottom: 15px;
 }

address li {
    display: flex;
    padding-left: 15px;
}

    address li > i {
        margin-right: 15px;
    }

.contact-links li{
    margin-bottom: 15px;
}


/*--Icones--*/
.footer-icon {
    /* CA MARCHE PAS */
    width: 18px;
    height: 18px;
    border-radius: 50%;
}


/*----Footer botom----*/
.footer-bottom {
    margin-bottom: 0;
    padding-bottom: 30px;
}


/*------Modal------*/
.modal {
    background: var(--light-bckgnd);
    border-radius: 4px;
    color: var(--light-bckgnd);
    display: flex;
    flex-direction: column;
    left: 50%;
    padding: 30px 30px 0 30px;
    position: fixed;
    text-align: left;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 75%;
    z-index: 30;
}

    .modal p {
        color: var(--mid-grey);
        margin-bottom: 30px;
    }

.layer {
    background: #000000;
    display: block;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 20;
}


/*--------Media queries--------*/
/*------mode petit ecran------*/
@media (max-width: 495px){
    /* agrandissement de l'image sous la citation pour pouvoir
       contenir le texte */
    .citation img {
        max-width: 200%;
    }

}

@media (max-width: 350px){
    /* agrandissement de l'image et reduction du texte pour
       pouvoir contenir le texte */
    .citation img {
        max-width: 300%;
    }

    .citation .center {
        font-size: 18px;
    }
}


/*------mode tablette------*/
@media (min-width: 768px){
    button {
        width: auto;
    }

    .container {
        padding-left: 8%;
        padding-right: 8%;
    }

    .fake-news img,
    .articles img {
        width: 100%; /* adapte l'img à la taille du conteneur */
    }

    /*----Fake news----*/
    .flex-fakenews {
        display: flex;
        justify-content: space-between;
    }

    .fake-news {
        flex-basis: 30%;
    }


    /*----Articles + posts + random----*/
    .flex-articles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: left;
    }

    .articles {
        flex-basis: 60%;
    }

    .flex-posts { /* posts + random */
        flex-basis: 35%;
        padding-top: 60px;
    }


    /*----Footer----*/
    footer {
        padding-bottom: 100px ;
        padding-top: 100px ;
    }

    .footer-top {
        display: flex;
        justify-content: center;
    }

        /* Espace entre les p */
        .footer-top > p:first-child {
            padding-right: 10px;
        }

    .footer-contacts {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        text-align: left;
    }

    /* passage du formulaire en flex pour pouvoir modifier la taille
       du bouton qui sinon prend la largeur du conteneur*/
    #contact {
        display: flex;
        flex-basis: 48%;
        flex-direction: column;
    }

        #contact button {
            align-self: flex-start;
        }

        #contact .inputs {
            display: flex;
            justify-content: space-between;
        }

            #contact .inputs .div-errors:first-child {
                margin-right: 15px;
            }

            #contact .inputs .div-errors {
                flex-basis: 50%;
            }

    .contact-div {
        flex-basis: 48%;
    }

        .contact-div > p {
            padding-left: 15px;
        }

    .contact-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        .contact-links > ul {
            flex-basis: 50%;
        }

    .footer-bottom {
        display: flex;
        justify-content: center;
    }

        .footer-bottom p {
            padding: 0 15px;
        }

        .footer-bottom p:first-child {
            border-right: 1px solid var(--light-grey);
        }


    /*----Modal----*/
    .modal {
        width: auto;
    }
}


/*------mode bureau------*/
@media (min-width: 992px){
    body {
        flex-direction: column; /* affiche le menu en haut de la page */
        /* Pose probleme pour la modal */
        /*transform: translateX(0) !important; !* En cas de redimenssionnement menu ouvett *!*/
    }

    .container {
        padding-left: 15%;
        padding-right: 15%;
    }

    #burger-btn {
        display: none;
    }

    #main-menu {
        background: inherit;
        color: inherit;
        height: inherit;
        font-weight: 400;
        left: inherit;
        margin-bottom: 100px;
        overflow-x: inherit;
        position: inherit;
        text-align: left;
        top: inherit;
    }

        #main-menu .menu-icon {
            /* affiche les icones du menu */
            display: inherit !important;
        }

        #main-menu li > a {
            border-bottom: 1px solid var(--lighter-grey);
            white-space: nowrap;
            padding: 10px 20px;
        }

        #main-menu > ul {
            display: flex;
            justify-content: center;
        }

            /* Flèche en haut des sous menu de 1er niveau
           ::after triangle blanc
           ::before triangle noir, en dessous du blanc et décalé
                qui donne l'impression d'une bordure */
            #main-menu > ul > li > ul:after,
            #main-menu > ul > li > ul:before {
                border-bottom: 10px solid var(--light-bckgnd); /* bord inferieur meme couleur que contenu */
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                content: ''; /* contenu vide, sinon n'apparait pas */
                left: 10%; /* position par rapport à la gauche du ul */
                position: absolute;
                /* on réduit le bord haut de 10px, sur un carré
                   de 10px de coté, le bord haut disparait et
                   donne un triangle */
                top: -10px; /* position par rapport au haut du ul */
            }

            #main-menu > ul > li > ul:before {
                /* carré de 12px de coté, couleur hérité de la fonction
                   border du ul */
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-bottom: 12px solid;
                border-bottom-color: inherit; /* ne fonctionne pas dans la fonction border-bottom */
                margin-left: -2px; /* décalage de 2px par rapport au triangle blanc */
                top: -12px;
            }

            #main-menu > ul > li > a {
                /* supprime les traits de séparations sous les <a> de premier niveau*/
                border-bottom: none;
            }

        /* Masque les sous menus */
        #main-menu li ul {
            display: none;
            position: absolute;
            text-transform: initial;
            z-index: 10;
        }

            #main-menu li ul a,
            #main-menu li ul li ul a {
                padding-left: 20px; /* supprime l'indentation des sous menus en mobile */
            }

            #main-menu li ul li ul {
                left: 100%;
                margin-top: -44px;
                /* hauteur du parent + 1px du border bottom du <li> précédent le parent */
            }


        /* affiche le sous menu lorsque l'element parent est ciblé */
        #main-menu li:hover > ul {
            background: var(--light-bckgnd);
            border: 1px solid var(--lighter-grey);
            border-radius: 4px;
            display: block;
        }
}