@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

/*----------Généralités----------*/
:root {
  --light-bckgnd: #ffffff;
  --grey-bckgnd: #f0f0f0;
  --dark-bckgnd: #444444;
  --orange: #ed786a;
  --hover-orange: #fd887a;
  --red: #cc0000;
  --lighter-grey: #e1e1e1;
  --light-grey: #888888;
  --mid-grey: #777777;
  --grey: #666666;
  --dark-grey: #3c3c3c;
  --font-title: "Arvo", serif;
  --font-text: "Source Sans Pro", sans-serif;
}

body {
  background: var(--light-bckgnd);
  color: var(--mid-grey);
  display: flex; /* pour gestion menu */
  font-family: var(--font-text), "sans-serif";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
  transition: transform 300ms;
}

a {
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--hover-orange);
}

/* Liens soulignés */
.a-underline {
  text-decoration: underline var(--lighter-grey);
}

/* les boutons s'adapte à la taille de leurs conteneurs */
button {
  background: var(--orange);
  border: var(--red);
  border-radius: 4px;
  color: var(--light-bckgnd);
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 30px;
  width: 100%;
}

button:active,
button:hover {
  background: var(--hover-orange);
}

button > a:hover,
button > a:active {
  color: var(--light-bckgnd);
}

div,
section,
aside {
  margin-bottom: 30px;
}

/*----------titres----------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 45px;
  letter-spacing: 10px;
  margin-bottom: 30px;
}

h2 {
  font-size: 23px;
  letter-spacing: 2px;
  margin-bottom: 25px;
  margin-top: 25px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

/* Logo fake-news */
.fake-logo {
  color: var(--orange);
  font-family: var(--font-title);
  font-weight: 700;
}

/*----------Framework----------*/
/*--------Layout--------*/
.container {
  /* marges gauche et droite sur toutes la page
       sauf menu nav, btn burger et img .citation */
  padding-left: 5%;
  padding-right: 5%;
}

.wrapper {
  /* permet de fixer la taille minimum,
       et empecher la réduction lors de la
       sortie du menu */
  flex-shrink: 0;
  flex-basis: 100%;
  /* annule le margin-b global des div */
  margin-bottom: 0;
}

/*------Séparateurs------*/
.separator,
.separator-double {
  display: flex;
  flex-direction: column;
}

.separator-double {
  height: 15px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.separator-double span {
  background: var(--grey-bckgnd);
  height: 3px;
}

.separator {
  height: 13px;
  margin-bottom: 5px;
  padding: 5px 0;
}

.separator span {
  background: var(--grey-bckgnd);
  flex-basis: 3px;
}

/*------Icones------*/
.ico {
  align-self: baseline;
  background: var(--light-grey);
  border-radius: 50%;
  color: var(--light-bckgnd);
  margin-right: 5px;
  padding: 7px;
}

.mod-icon {
  background: var(--orange);
}

.mod-icon:hover,
.mod-icon:active {
  background: var(--hover-orange);
}

/*--------Page--------*/
/*------Menu------*/
/*----Btn burger----*/
#burger-btn {
  background: var(--grey-bckgnd);
  border-radius: 4px;
  box-shadow: var(--light-grey) 1px 1px 3px 0px;
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 12px 22px;
  transition: background 500ms;
  width: 60px;
}

#burger-btn span {
  background: var(--light-grey);
  flex-basis: 2px;
  opacity: 1;
  transition: opacity 300ms, background 500ms, transform 600ms;
}

#burger-cmd {
  /*masquer la checkbox*/
  display: none;
}

#burger-cmd:checked + #burger-btn {
  /*Lorsque burger est coché le bouton change d'aspect'*/
  background: var(--mid-grey);
}

#burger-cmd:checked + #burger-btn span {
  background: var(--grey-bckgnd);
}

/* rotation/deplacement des span 1 et 3 et masquage span 2*/
#burger-cmd:checked + #burger-btn span:nth-child(1) {
  transform: translateX(0px) translateY(7px) rotate(-45deg);
}

#burger-cmd:checked + #burger-btn span:nth-child(2) {
  opacity: 0;
}

#burger-cmd:checked + #burger-btn span:nth-child(3) {
  transform: translateX(0px) translateY(-7px) rotate(45deg);
}

/*----Menu nav----*/
.open {
  /* Classe ajouté au body via JS, permet de décalé la page vers
     * la droite pour afficher le menu et désactive le scroll */
  overflow: hidden;
  transform: translateX(234px);
}

#main-menu {
  /* Déplace le menu de navigation hors ecran du coté gauche */
  background: var(--dark-bckgnd);
  color: var(--light-bckgnd);
  height: 100vh;
  left: -234px;
  overflow-x: hidden;
  position: absolute;
  text-align: left;
  text-transform: uppercase;
  top: 0;
}

#main-menu li > a {
  border-bottom: 1px solid var(--dark-grey); /* trait de séparation sous chaque case */
  display: inline-block;
  /* Le <a> occupe tout l'espace du parent <li> */
  padding: 10px 20px;
  width: 100%;
}

#main-menu li:hover > a,
#main-menu li:active > a {
  /* change de couleur lors du hover sur un <li> */
  color: var(--hover-orange);
}

#main-menu li ul a {
  /* Décalage de 2eme niveau */
  padding-left: 40px;
}

#main-menu li ul li ul a {
  /* Décalage de 3eme niveau */
  padding-left: 60px;
}

.menu-icon {
  /* cache les icones du menu en mobile,
       !important pour surpasser le css fontawesome */
  display: none !important;
}

/*------Header------*/
header,
.title {
  margin-bottom: 60px;
}

/*------Titre + phrase------*/
.title {
  text-align: center;
}

.phrase {
  font-size: 22px;
}

/*------Main------*/
main p {
  line-height: 1.4;
  text-align: justify;
}

/*----Article----*/
.article {
  padding: 15px;
}

.article img {
  background: var(--grey-bckgnd);
  padding: 7px;
}

.date {
  background: var(--light-grey);
  border-radius: 4px;
  color: var(--light-bckgnd);
  font-weight: 400;
  padding: 3px 10px;
}

.mod-btns {
  display: inline;
  position: relative;
  z-index: 20;
}

/*------Footer------*/
footer {
  background: var(--grey-bckgnd);
  box-shadow: inset 0 3px 3px -3px var(--light-grey);
  padding-top: 60px;
}

/*----Footer top----*/
.footer-top {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 2px;
}

.contact-us {
  font-weight: 600;
}

/*----Footer contacts----*/
.footer-contacts {
  text-align: left;
  margin-bottom: 60px;
}

.footer-contacts > p {
  margin-bottom: 15px;
}

/*--Liens de contact--*/
address {
  margin-bottom: 100px;
}

address li {
  display: flex;
}

.contact-div li {
  padding-left: 15px;
}

.contact-div li > i {
  /*margin-right: 15px;*/
}

.contact-links li {
  margin-bottom: 15px;
}

/*----Icones----*/
.footer-icon {
  margin-right: 15px;
}

/* icone facebook, avait une forme ovale*/
.fa-facebook-f {
  padding: 7px 10px;
}

/*----Footer bottom----*/
.footer-bottom {
  margin-bottom: 0;
  padding-bottom: 30px;
}

/*------Modal + layer------*/
.modal {
  background: var(--light-bckgnd);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  left: 50%;
  padding: 30px 30px 0 30px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 75%;
  z-index: 30;
}

.modal p {
  margin-bottom: 30px;
}

.layer {
  background: #000000;
  display: block;
  height: 100vh;
  left: 0;
  opacity: 90%;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 20;
}

/*--------Media queries--------*/
/*------mode tablette------*/
@media (min-width: 768px) {
  button {
    width: auto;
  }

  .container {
    padding-left: 8%;
    padding-right: 8%;
  }

  /*----Footer----*/
  footer {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  .footer-top {
    display: flex;
    justify-content: center;
  }

  /* Espace entre les p */
  .footer-top > p:first-child {
    padding-right: 10px;
  }

  .footer-contacts {
    margin-bottom: 100px;
    text-align: left;
  }

  .contact-div > p {
    padding-left: 15px;
  }

  .contact-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-links > ul {
    flex-basis: 50%;
  }

  .footer-bottom {
    display: flex;
    justify-content: center;
  }

  .footer-bottom p {
    padding: 0 15px;
  }

  .footer-bottom p:first-child {
    border-right: 1px solid var(--light-grey);
  }

  /*----Modal----*/
  .modal {
    width: auto;
  }
}

/*------mode bureau------*/
@media (min-width: 992px) {
  body {
    flex-direction: column; /* affiche le menu en haut de la page */
  }

  .container {
    padding-left: 15%;
    padding-right: 15%;
  }

  #burger-btn {
    display: none;
  }

  #main-menu {
    background: inherit;
    color: inherit;
    height: inherit;
    font-weight: 400;
    left: inherit;
    margin-bottom: 100px;
    overflow-x: inherit;
    position: inherit;
    text-align: left;
    top: inherit;
  }

  #main-menu .menu-icon {
    /* affiche les icones du menu */
    display: inherit !important;
  }

  #main-menu li > a {
    border-bottom: 1px solid var(--lighter-grey);
    white-space: nowrap;
    padding: 10px 20px;
  }

  #main-menu > ul {
    display: flex;
    justify-content: center;
  }

  /* Flèche en haut des sous menu de 1er niveau
     * ::after triangle blanc
     * ::before triangle noir, en dessous du blanc et décalé
     * qui donne l'impression d'une bordure */
  #main-menu > ul > li > ul:after,
  #main-menu > ul > li > ul:before {
    border-bottom: 10px solid var(--light-bckgnd); /* bord inferieur meme couleur que contenu */
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: ""; /* contenu vide, sinon n'apparait pas */
    left: 10%; /* position par rapport à la gauche du ul */
    position: absolute;
    /* on réduit le bord haut de 10px, sur un carré
           de 10px de coté, le bord haut disparait et
           donne un triangle */
    top: -10px; /* position par rapport au haut du ul */
  }

  #main-menu > ul > li > ul:before {
    /* carré de 12px de coté, couleur hérité de la fonction
           border du ul */
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid;
    border-bottom-color: inherit; /* ne fonctionne pas dans la fonction border-bottom */
    margin-left: -2px; /* décalage de 2px par rapport au triangle blanc */
    top: -12px;
  }

  #main-menu > ul > li > a {
    /* supprime les traits de séparations sous les <a> de premier niveau*/
    border-bottom: none;
  }

  /* Alignement du premier sous menu */
  #main-menu > ul > li > ul {
    margin-left: 10px;
  }

  /* Masque les sous menus */
  #main-menu li ul {
    display: none;
    position: absolute;
    text-transform: initial;
    z-index: 10;
  }

  #main-menu li ul a,
  #main-menu li ul li ul a {
    padding-left: 20px; /* supprime l'indentation des sous menus en mobile */
  }

  #main-menu li ul li ul {
    left: 100%;
    margin-top: -44px;
    /* hauteur du parent + 1px du border bottom du <li> précédent le parent */
  }

  /* affiche le sous menu lorsque l'element parent est ciblé */
  #main-menu li:hover > ul {
    background: var(--light-bckgnd);
    border: 1px solid var(--lighter-grey);
    border-radius: 4px;
    display: block;
  }
}
